# Setup

In [3]:
import sys
import os
home_dir=os.path.expanduser('~')
os.chdir(f"{home_dir}/nexus_correlation_discovery/")
from utils.time_point import T_GRANU
from utils.coordinate import S_GRANU
from demo.demo_ui import show_df
from nexus_api import API
from data_search.data_model import Var
from sklearn import linear_model

use_qgrid = True

# Create Nexus API

In [5]:
conn_str = "postgresql://yuegong@localhost/chicago_1m_zipcode"
nexus_api = API(conn_str)

## Browse Data Assets

You can use Nexus to browse data catalog and an individual dataset.

### Download output data products

Every dataframe displayed by Nexus is associated with a download button. After the button is clicked, the dataframe will be downloaded to the root directory of `nexus_correlation_discovery`. The name of the downloaded dataframe is the one you specified in the name field of `show_df`.

In [3]:
# show catalog
catalog = nexus_api.show_catalog()
show_df(catalog, name="catalog", use_qgrid=use_qgrid)

,id,name,link
0,asthma,asthma,unknown
1,ijzp-q8t2,Crimes - 2001 to Present,https://data.cityofchicago.org/Public-Safety/C...
2,ydr8-5enu,Building Permits,https://data.cityofchicago.org/Buildings/Build...
3,s6ha-ppgi,Affordable Rental Housing Developments,https://data.cityofchicago.org/Community-Econo...
4,4ijn-s7e5,Food Inspections,https://data.cityofchicago.org/Health-Human-Se...
...,...,...,...
200,ip6w-ws46,Tax Increment Financing (TIF) Annual Report - ...,https://data.cityofchicago.org/Community-Econo...
201,nphj-5zur,811 Chicago Utility Hit Tickets,https://data.cityofchicago.org/Transportation/...
202,gqgn-ekwj,Chicago Public Schools - School Locations SY2223,https://data.cityofchicago.org/Education/Chica...
203,i86k-y6er,Libraries - 2022 Holds Filled by Location,https://data.cityofchicago.org/Education/Libra...
204,mqwh-r23c,Libraries - 2022 Holds Placed by Location,https://data.cityofchicago.org/Education/Libra...

Button(description='Download Data', style=ButtonStyle())

In [9]:
# show original dataset
dataset_id = 'divg-mhqk'
df, link=nexus_api.show_raw_dataset(id=dataset_id)
print(link)
show_df(df, name=dataset_id, use_qgrid=use_qgrid)

https://data.cityofchicago.org/Community-Economic-Development/Produce-Carts/divg-mhqk

                  address   latitude  longitude                     location
0       721 N LA SALLE DR  41.895575 -87.632543  (41.89557507, -87.63254328)
1      1601 W DIVISION ST  41.903236 -87.667554  (41.90323582, -87.66755407)
2             4 W 35TH ST  41.831119 -87.626779   (41.83111927, -87.6267791)
3        4602 N BROADWAYÂ   41.965478 -87.657688  (41.96547764, -87.65768753)
4        1550 N DAMEN AVE  41.909679 -87.677590  (41.90967936, -87.67759021)
5          3060 W 26TH ST  41.844666 -87.702540  (41.84466604, -87.70254001)
6         3500 W Fillmore  41.868246 -87.713161  (41.86824605, -87.71316125)
7        25 E CHICAGO AVE  41.896582 -87.627088  (41.89658176, -87.62708766)
8      Ogden & California  41.861317 -87.695755  (41.86131724, -87.69575486)
9      944 W ARMITAGE AVE  41.918225 -87.652720  (41.91822458, -87.65272001)
10       3758 W OGDEN AVE  41.853080 -87.719652  (41.85307985, -87.71965154)
11           31st & Tripp  41.836813 -87.730427   (41.83681334, -87.7304274)
12  2650 S CALIFORNIA AVE  41.843238 -87.694765  (41.84323835, -87.69476454)
13         4020 W 26TH ST  41.844351 -87.725455  (41.84435111, -87.72545519)

Button(description='Download Data', style=ButtonStyle())

In [11]:
"""
Show aggregated dataset

For example, 4u6w-irs9_location_6 is an aggreagted table, 
which is created over original table 4u6w-irs9 by aggregating its spatial attribute `location` 
to the zipcode granularity (zipcode granularity is mapped to 6 in Nexus).
"""
agg_tbl_name = '4u6w-irs9_location_6'
df = nexus_api.show_agg_dataset(agg_tbl_name)
show_df(df, name=agg_tbl_name, use_qgrid=use_qgrid)

      val         avg_square_feet  count
0   60642      29128.000000000000      3
1   60634  10295.7692307692307692     13
2   60612      15189.400000000000      5
3   60611      14639.500000000000      6
4   60605      31610.500000000000      2
5   60622   8869.9090909090909091     11
6   60644   9532.4285714285714286      7
7   60601   4753.3333333333333333      3
8   60640      11391.888888888889     18
9   60613      16297.777777777778      9
10  60618      15918.000000000000     16
11  60649   5900.4000000000000000      5
12  60637   8880.5000000000000000     10
13  60661      21182.500000000000      2
14  60616      14105.125000000000      8
15  60639   8889.3200000000000000     25
16  60656      23548.500000000000      2
17  60660   7606.2000000000000000      5
18  60643      28333.750000000000      8
19  60607      19982.000000000000      5
20  60629   6626.8000000000000000     15
21  60652      51950.000000000000      2
22  60653      21900.000000000000      5
23  60827   6900.5000000000000000      2
24  60623   6096.2857142857142857     21
25  60609      11645.444444444444     18
26  60619      11713.272727272727     11
27  60630      13932.166666666667      6
28  60657      13446.000000000000      5
29  60647      12382.823529411765     17
30  60617      14074.785714285714     14
31  60610      19874.333333333333      6
32  60659   4545.1666666666666667      6
33  60633   5602.0000000000000000      2
34  60608      15612.687500000000     16
35  60645   4954.5454545454545455     11
36  60646   9958.7500000000000000      4
37  60655      13340.500000000000      4
38  60636  10522.0000000000000000     13
39  60624   6833.1250000000000000      8
40  60651  10413.2307692307692308     13
41  60626      15469.785714285714     14
42  60628   4127.5000000000000000     12
43  60631   8167.0000000000000000      3
44  60707      17532.800000000000      5
45  60614      12457.583333333333     12
46  60621   5960.6250000000000000      8
47  60641  10672.7272727272727273     11
48  60620      14455.500000000000     18
49  60638      32861.000000000000      4
50  60615   8087.2500000000000000      4
51  60632      13859.700000000000     20
52  60625  10670.4285714285714286     14
53  60654      17923.250000000000      4

Button(description='Download Data', style=ButtonStyle())

# Find correlations from an input table

## Inputs:
- `dataset`: dataset id
- `t_granu`: temporal granularity
- `s_granu`: spatial granularity
- `overlap_t`: overlap threshold for joinable detection
- `r_t`: correlation coefficient threshold
- `corr_type`: correlation type: `pearson`, `spearman`, `kendall`

## Outputs:
A list of of correlations, and each correlation has the following attributes.

- `tbl_id`: table id, `table_name`: table name
- `agg_tbl`: the table name of the aggregated table. For example, 4u6w-irs9_location_6 is an aggreagted table, which is created over original table 4u6w-irs9 by aggregating its spatial attribute `location` to the zipcode granularity (zipcode granularity is mapped to 6 in Nexus).

- `r_val` is the correlation coefficient.

- `p_val` is the p value for the correlation

- `missing_ratio_o2` is the fraction of missing values in the original attribute before any aggregation.

- `samples` is the number of rows used to calculate the correlation.


In this example, the input is the asthma dataset. We align the input with tables from Chicago open data and compute correlations. Tables from chicago open data originally have the spatial granularity of geo-coordinate. We aggregate them to the zipcode level and apply aggregate functions "avg" and "count". For example, if you see an attribute named "avg_basketball_courts", it means the original attribute is "basketball_courts" and function "avg" is applied. The attribute after aggregation is named "avg_basketball_courts". In the displayed dataframe, you can perform sorting on one dimension, filtering rows using keywords, and etc.

In [4]:
dataset = 'asthma'
t_granu, s_granu = None, S_GRANU.ZIPCODE
overlap_t = 5
r_t = 0.5
# you can change corr_type to 'spearman' or 'kendall'
df = nexus_api.find_correlations_from(dataset, t_granu, s_granu, overlap_t, r_t, corr_type="pearson")
df_formatted = show_df(df, name='asthma_corrs', use_qgrid=use_qgrid)

total number of correlations: 225

,tbl_id1,tbl_name1,agg_tbl1,agg_attr1,tbl_id2,tbl_name2,agg_tbl2,agg_attr2,missing_ratio_o2,r_val,p_val,samples
0,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,ijzp-q8t2,Crimes - 2001 to Present,ijzp-q8t2_location_6,count,0.00,0.560,0.0,50
1,asthma,asthma,asthma_Zip5_6,avg_encAsthmaExac,ijzp-q8t2,Crimes - 2001 to Present,ijzp-q8t2_location_6,count,0.00,0.540,0.0,50
2,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,85ca-t3if,Traffic Crashes - Crashes,85ca-t3if_location_6,avg_injuries_total,0.00,0.563,0.0,50
3,asthma,asthma,asthma_Zip5_6,avg_encAsthmaExac,85ca-t3if,Traffic Crashes - Crashes,85ca-t3if_location_6,avg_injuries_total,0.00,0.577,0.0,50
4,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,aksk-kvfp,City-Owned Land Inventory,aksk-kvfp_location_6,avg_square_footage_city_estimate,0.82,0.679,0.0,50
...,...,...,...,...,...,...,...,...,...,...,...,...
220,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,n26f-ihde,Transportation Network Providers - Trips (2023-),n26f-ihde_pickup_centroid_location_6,avg_trips_pooled,0.00,0.548,0.0,49
221,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,n26f-ihde,Transportation Network Providers - Trips (2023-),n26f-ihde_pickup_centroid_location_6,avg_tip,0.01,-0.507,0.0,49
222,asthma,asthma,asthma_Zip5_6,avg_encAsthmaExac,n26f-ihde,Transportation Network Providers - Trips (2023-),n26f-ihde_pickup_centroid_location_6,avg_trips_pooled,0.00,0.546,0.0,49
223,asthma,asthma,asthma_Zip5_6,avg_enc_asthma,n26f-ihde,Transportation Network Providers - Trips (2023-),n26f-ihde_dropoff_centroid_location_6,avg_trips_pooled,0.00,0.541,0.0,49
224,asthma,asthma,asthma_Zip5_6,avg_encAsthmaExac,n26f-ihde,Transportation Network Providers - Trips (2023-),n26f-ihde_dropoff_centroid_location_6,avg_trips_pooled,0.00,0.534,0.0,49

Button(description='Download Data', style=ButtonStyle())

# Assemble a dataset from multiple variables

1. df, prov = get_aligned_data(correlation): this api takes input as a correlation and returns the merged dataset used to calculate this correlation

2. df, prov = assemble(vars, constraints: [optional]): this api creates a dataset that merges all variables specified in `vars`. `constaints` is a mapping between table name and the constraint on that table when performing join operation. For example {'tbl_A': 2} means spatio-temporal units with the number of samples smaller than 2 are discarded. 

data assembly APIs return `prov`, which is the provenance information of the resulting dataset.

In [5]:
row_idx = 0
aligned, prov = nexus_api.get_aligned_data(df.loc[0])
show_df(aligned, name="asthma_corrs_aligned", prov=prov, use_qgrid=use_qgrid)

      val  avg_enc_asthma  count
0   60604            10.0   2920
1   60605            47.0  11297
2   60606            33.0   2838
3   60607            12.0  14979
4   60608            83.0  21219
5   60609           726.0  24827
6   60610            51.0  12235
7   60611            15.0  16925
8   60612            51.0  24349
9   60613            12.0   9932
10  60614            20.0  15150
11  60615          1922.0  17005
12  60616           269.0  18038
13  60617          2368.0  34962
14  60618            30.0  17379
15  60619          3213.0  41564
16  60620          1688.0  46380
17  60621          1288.0  27198
18  60622            17.0  17113
19  60623            81.0  38232
20  60624            28.0  39600
21  60625            16.0  14754
22  60626            36.0  14570
23  60628          1595.0  40008
24  60629           678.0  29555
25  60630            13.0   9436
26  60631            10.0   3134
27  60632           153.0  18431
28  60633            83.0   2316
29  60634            36.0  11756
30  60636          1311.0  26132
31  60637          3783.0  29229
32  60638            48.0   9651
33  60639            27.0  22576
34  60640            15.0  16492
35  60641            56.0  14404
36  60642            21.0   8550
37  60643           964.0  17343
38  60644            30.0  34076
39  60645            20.0   8069
40  60647            36.0  20587
41  60649          1933.0  31198
42  60651            38.0  30320
43  60652           265.0   9118
44  60653          1618.0  16636
45  60654            13.0  11041
46  60655            87.0   3383
47  60656            13.0   3562
48  60657            30.0  15957
49  60660            18.0   7649

'asthma_Zip5_6 JOIN ijzp-q8t2_location_6'

Button(description='Download Data', style=ButtonStyle())

In [11]:
# without constraint
vars = [Var('divg-mhqk_location_6', 'count'), Var('4u6w-irs9_location_6', 'avg_square_feet')]
df, prov = nexus_api.assemble(vars)
show_df(df, name="divg-mhqk_4u6w-irs9", prov=prov, use_qgrid=use_qgrid)

,count,avg_square_feet,divg-mhqk_location_6_samples,4u6w-irs9_location_6_samples
0,1,14639.500000000000,1,6
1,2,8869.9090909090909091,2,11
2,1,11391.888888888889,1,18
3,1,14105.125000000000,1,8
4,5,6096.2857142857142857,5,21
5,1,15612.687500000000,1,16
6,1,6833.1250000000000000,1,8
7,1,12457.583333333333,1,12
8,1,17923.250000000000,1,4

b'SELECT "divg-mhqk_location_6"."count","4u6w-irs9_location_6"."avg_square_feet","divg-mhqk_location_6"."count" AS "divg-mhqk_location_6_samples","4u6w-irs9_location_6"."count" AS "4u6w-irs9_location_6_samples" FROM "divg-mhqk_location_6" INNER JOIN "4u6w-irs9_location_6" ON "divg-mhqk_location_6".val = "4u6w-irs9_location_6".val'

Button(description='Download Data', style=ButtonStyle())

In [12]:
# with constraint, units with number of samples smaller than 2 are dropped
vars = [Var('divg-mhqk_location_6', 'count'), Var('4u6w-irs9_location_6', 'avg_square_feet')]
constraints = {'divg-mhqk_location_6': 2, '4u6w-irs9_location_6': 2}
df, prov = nexus_api.assemble(vars, constraints)
show_df(df, name="divg-mhqk_4u6w-irs9_sample_greater_than_2", prov=prov, use_qgrid=use_qgrid)

,count,avg_square_feet,divg-mhqk_location_6_samples,4u6w-irs9_location_6_samples
0,2,8869.9090909090909091,2,11
1,5,6096.2857142857142857,5,21

b'SELECT "divg-mhqk_location_6"."count","4u6w-irs9_location_6"."avg_square_feet","divg-mhqk_location_6"."count" AS "divg-mhqk_location_6_samples","4u6w-irs9_location_6"."count" AS "4u6w-irs9_location_6_samples" FROM "divg-mhqk_location_6" INNER JOIN "4u6w-irs9_location_6" ON "divg-mhqk_location_6".val = "4u6w-irs9_location_6".val WHERE "divg-mhqk_location_6"."count" >= 2 AND "4u6w-irs9_location_6"."count" >= 2'

Button(description='Download Data', style=ButtonStyle())

# Regression Analysis

When you find several interesting correlations, and want to do further regression analysis over variables of interest, you can use the `regress` api of Nexus:

model, rsq, data = nexus_api.regress(dep_var, ind_vars, reg_model)

Input:

`dep_var`: the dependent variable in a regression analysis

`ind_vars`: independent variables (regressors)

`reg_model`: regression model

Return:

`model`: resulting model

`rsq`: r squared score

`data`: dataset that used to do the regression (this dataset is assembled from merging all varaibles that are initially scattered in different tables )

In [6]:
dep_var = Var('asthma_Zip5_6', 'avg_enc_asthma')
ind_vars = [Var('ijzp-q8t2_location_6', 'count'), Var('n26f-ihde_pickup_centroid_location_6', 'avg_tip')]
reg_model = linear_model.LinearRegression() # OLS regression
model, rsq, merged = nexus_api.regress(dep_var, ind_vars, reg_model)
print("coefficients of each independent variables:", model.coef_)
print("r square score:", rsq)

coefficients of each independent variables: [ 3.17139472e-02 -5.13593106e+02]
r square score: 0.34087326231772086